### Gradle ###
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/**/build/

### IntelliJ IDEA ###
.idea/
*.iml
*.ipr
*.iws
out/
!**/src/**/out/
.run/

### Eclipse ###
bin/
.settings/
.classpath
.project
.metadata
*.launch
.apt_generated
.eclipse/
.factorypath
.springBeans
.sts4-cache
!**/src/**/bin/

### VS Code ###
.vscode/

### OS ###
.DS_Store
Thumbs.db

### Minecraft modding (NeoForge / userdev) ###
run/
run-data/
runs/
eclipse/
**/src/generated/**/.cache/

# Publication Maven locale (tasks publishing du projet)
mcmodsrepo/
repo/
!**/src/**/repo/

# Ancien Forge MDK
forge*changelog.txt
